.suzume-page {
    color: white;
    font-family:  'Segoe UI', sans-serif;
    min-width: 100vh;
    padding-bottom: 40px;
}

.s-header {
    text-align: start;
    padding: 40px 300px 20px;
}

.s-title {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.s-info {
    font-size: 0.9rem;
    margin-top: 10px;
    opacity: 0.9;
}

.s-poster-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.s-poster {
    width: 180px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.s-description {
    max-width: 600px;
    text-align: left;
    font-size: 0.95rem;
    line-height: 1.6;
}

.s-carousel {
    width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.s-carousel-wrapper {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.s-carousel-track {
    display: flex;
    gap: 10px;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.s-carousel-track img {
    width: 280px;
    height: 180px;
    object-fit: cover;
    flex-shrink: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.s-carousel-track img:hover {
    transform: scale(1.08);
} 

.s-quote {
    width: 100%;
    height: auto;
    margin-top: 4rem;;
    padding: 40px;
    text-align: center;
    border-radius: 12px;
    margin: 40px auto;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(6px)
}

.s-quote p {
    font-size: 1.2em;
    line-height: 1.6;
    font-family: 'Times New Roman', serif;
}